.details {
  position: relative;
  margin: 10px;
  margin-left: 30px;
}

.whole {
  margin-top: initial;
  background-color: black;
}

.main1 {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );

  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  width: 1000px;
  height: 230px;
  margin: 0px auto;
}

.details_btn {
  margin-left: 850px;
  background-color: rgb(53, 224, 124);
  color: rgb(255, 255, 255);
  border-width: unset;
  width: 10%;
}
.details_btn:hover {
  font-size: 20px;
  background-color: rgb(55, 212, 55);
}

.back_btn {
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgb(233, 76, 76);
  width: 10%;
  color: white;
}
.back_btn:hover {
  background-color: rgb(180, 38, 38);
}
.title {
  color: rgb(14, 222, 241);
  align-self: auto;
  margin-top: 10px;
  margin-left: 45%;
  font-size: 300%;
  font-stretch: expanded;
}

.link {
  color: #fff;
}
.link:hover {
  color: #00f;
}
